In [1]:
catalog.list()

['merged_dataframe', 'geocoder', 'enriched_df', 'feature_df', 'parameters']

In [2]:
df = catalog.load('feature_df')

[03/24/23 00:53:59] INFO     Loading data from 'feature_df' (CSVDataSet)...                     ]8;id=56361;file:///home/cdanmontoya/.cache/pypoetry/virtualenvs/gpx-dashboard-N2OiNTXu-py3.9/lib/python3.9/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=35193;file:///home/cdanmontoya/.cache/pypoetry/virtualenvs/gpx-dashboard-N2OiNTXu-py3.9/lib/python3.9/site-packages/kedro/io/data_catalog.py#343\343]8;;\

In [5]:
df.trip.value_counts()

data/01_raw/recovery.05-Mar-2022.1025.gpx             18593
data/01_raw/19-Mar-2023-1822.gpx                       7142
data/01_raw/2023-03-19_Mar_19,_2023_3_17_31_PM.gpx     1693
data/01_raw/19-mar.-2023-1712.gpx                      1418
data/01_raw/18-Mar-2023-1826.gpx                       1345
data/01_raw/22-Mar-2023-1811.gpx                       1041
data/01_raw/2023-03-18_Mar_18,_2023_5_54_26_PM.gpx     1001
data/01_raw/20-Mar-2023-1827.gpx                        883
data/01_raw/22-Mar-2023-0749.gpx                        795
data/01_raw/recovery.25-May-2022-0907.gpx               658
data/01_raw/03-Mar-2023-1714.gpx                        488
data/01_raw/18-Mar-2023-1809Scy.gpx                     358
data/01_raw/20-Mar-2023-2106.gpx                        318
data/01_raw/19-Mar-2023-2155.gpx                         92
data/01_raw/18-Mar-2023-1213.gpx                         55
data/01_raw/recovery.01-Mar-2022-1533.gpx                 3
Name: trip, dtype: int64

In [6]:
df.city.value_counts()

Medellín        25
Envigado         6
Concordia        3
San Jerónimo     3
Itagüí           1
Sabaneta         1
Name: city, dtype: int64

In [8]:
df[df.trip == 'data/01_raw/2023-03-19_Mar_19,_2023_3_17_31_PM.gpx']

,trip,step,time,latitude,longitude,elevation,country,state,city,suburb,neighbourhood,postcode,elapsed_time,distance
11807,"data/01_raw/2023-03-19_Mar_19,_2023_3_17_31_PM...",0,2023-03-19 20:17:46.916000+00:00,6.281990,-75.558031,1575.0,Colombia,Antioquia,Medellín,Comuna 4 - Aranjuez,La Piñuela,5004.0,0 days 00:54:24.084000,3847.512123
11808,"data/01_raw/2023-03-19_Mar_19,_2023_3_17_31_PM...",1,2023-03-19 20:18:20+00:00,6.282008,-75.557940,1570.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:54:24.084000,3847.512123
11809,"data/01_raw/2023-03-19_Mar_19,_2023_3_17_31_PM...",2,2023-03-19 20:18:27+00:00,6.282096,-75.557914,1568.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:54:24.084000,3847.512123
11810,"data/01_raw/2023-03-19_Mar_19,_2023_3_17_31_PM...",3,2023-03-19 20:18:41+00:00,6.282107,-75.557821,1567.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:54:24.084000,3847.512123
11811,"data/01_raw/2023-03-19_Mar_19,_2023_3_17_31_PM...",4,2023-03-19 20:18:43+00:00,6.282103,-75.557674,1566.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:54:24.084000,3847.512123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13495,"data/01_raw/2023-03-19_Mar_19,_2023_3_17_31_PM...",24,2023-03-19 21:09:56+00:00,6.440351,-75.726045,765.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:54:24.084000,3847.512123
13496,"data/01_raw/2023-03-19_Mar_19,_2023_3_17_31_PM...",25,2023-03-19 21:09:58+00:00,6.440273,-75.726145,762.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:54:24.084000,3847.512123
13497,"data/01_raw/2023-03-19_Mar_19,_2023_3_17_31_PM...",26,2023-03-19 21:10:00+00:00,6.440207,-75.726211,762.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:54:24.084000,3847.512123
13498,"data/01_raw/2023-03-19_Mar_19,_2023_3_17_31_PM...",27,2023-03-19 21:10:03+00:00,6.440132,-75.726298,772.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:54:24.084000,3847.512123
13499,"data/01_raw/2023-03-19_Mar_19,_2023_3_17_31_PM...",28,2023-03-19 21:12:11+00:00,6.440054,-75.725546,662.0,Colombia,Antioquia,San Jerónimo,NaN,Ciudadel del Sol,51070.0,0 days 00:54:24.084000,3847.512123